.div1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.div1:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
}